<div class="row">
    <div class="col-12">
        <div class="card">

            <div class="card-body">

                <div class="d-flex justify-content-between flex-wrap mt-1">

                    <div>
                        <h4 class="card-title">Lista de Sucursales</h4>
                        <h6 class="card-subtitle">Total: {{ total | number }}</h6>

                    </div>

                </div>

                <div class="table-responsive">
                    <table id="demo-foo-addrow" class="table m-t-30 table-hover contact-list" data-page-size="10">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Telefono</th>
                                <th>Direccion</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngIf="clients.length == 0">
                                <td colspan="5">
                                    <h3 class="mb-0 text-center"> Aun no existen registros de clientes... </h3>
                                </td>
                            </tr>

                            <tr *ngFor="let client of clients">
                                <!-- products-client -->
                                <td>
                                    <button (click)="loadProductsClient(client.client)" type="button" class="btn btn-sm btn-icon btn-pure btn-outline text-primary delete-row-btn" data-toggle="modal" data-target="#products-client">
                                        {{ client.client.name }} 
                                    </button>
                                </td>
                                <td> {{ client.client.phone }} </td>
                                <td> {{ client.client.address }} </td>
                                <td>
                                    <span *ngIf="client.client.status" class="label label-success"> Activo </span>
                                    <span *ngIf="!client.client.status" class="label label-danger"> Desactivado </span>
                                </td>
                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>

                                <td colspan="5">

                                    <div class="btn-group" role="group" aria-label="First group">
                                        <button [disabled]="desde === 0" (click)="cambiarPagina(-10)" type="button" class="btn btn-dark text-white">Atras</button>
                                        <button [disabled]="( desde + limite ) >= total" (click)="cambiarPagina(10)" type="button" class="btn btn-dark text-white">Siguiente</button>
                                    </div>

                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- ========================================================= 
MODAL CARGAR PRODUCTOS DEL CLIENTE
======================================================== -->
<div id="products-client" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalproducts-client" aria-hidden="true" #modalNewUser>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalproducts-client">Lista de productos del cliente</h4>
            </div>
            <div class="modal-body">


                <div class="card mb-0">
                    <div class="card-body">
                        <div class="d-flex">
                            <div>
                                <h4 class="card-title mb-0">
                                    <span class="lstick"></span>{{ clientSelected?.name }}
                                </h4>
                                <p class="mb-0">
                                    <span class="lstick"></span>
                                    <small><i class="mdi mdi-map-marker"></i> {{clientSelected?.address}} </small>
                                </p>
                                <p class="mb-0">
                                    <span class="lstick"></span>
                                    <small>Total: {{totalProductsClient}} </small>
                                </p>
                            </div>
                        </div>
                        <div class="table-responsive m-t-20 no-wrap">
                            <table class="table table-sm vm no-th-brd pro-of-month">
                                <thead>
                                    <tr>
                                        <th>Codigo</th>
                                        <th>Marca</th>
                                        <th>Estado</th>
                                        <th>MP</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr *ngIf="cargandoProductos">
                                        <td colspan="4">
                                            <h3 class="mb-0 animated pulse text-center py-4">Cargando...</h3>
                                        </td>
                                    </tr>

                                    <tr *ngIf="PorductsClient.length === 0 ">
                                        <td colspan="4">
                                            <h3 class="mb-0 animated fadeIn text-center py-4">Este cliente no tiene ningun producto asignado</h3>
                                        </td>
                                    </tr>

                                    <ng-container *ngIf="!cargandoProductos">
                                        <tr *ngFor="let product of PorductsClient" class="animated fadeIn">

                                            <td>
                                                <a data-dismiss="modal" [routerLink]="['/dashboard/producto/', product.pid!]">
                                                    {{ product.code! }} 
                                                    <br><small class="text-muted"> {{ product.ubicacion || 'Sin ubicación' }} </small>
                                                </a>
                                            </td>
                                            <td>
                                                {{ product.brand! }}
                                            </td>
                                            <td>
                                                <span class="label" [ngClass]="{ 'label-inverse':  product.estado === 'Instalada', 'label-success':  product.estado === 'Disponible', 'label-warning':  product.estado === 'Mantenimiento'}"> 
                                                {{ product.estado }} 
                                            </span>
                                            </td>
                                            <td> {{ product.next! | date: 'MMM d - y' }} </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>